body {
  background: #0b1220;
  color: white;
  font-family: Arial;
}

header {
  text-align: center;
  padding: 20px;
  font-size: 28px;
}

#chat {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.user, .bot {
  padding: 14px;
  border-radius: 10px;
  margin: 10px 0;
}

.user {
  background: #2563eb;
  text-align: right;
}

.bot {
  background: #1e293b;
}

#law-box {
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

.law {
  background: #0f172a;
  border-left: 4px solid gold;
  padding: 10px;
  margin-top: 5px;
}

.input-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #020617;
  padding: 15px;
  display: flex;
}

textarea {
  flex: 1;
  height: 60px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
}
