body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(180deg,#020617,#020617);
  color: white;
}

header {
  text-align: center;
  padding: 25px;
  font-size: 28px;
  font-weight: bold;
}

#chat {
  height: 75vh;
  overflow-y: auto;
  padding: 20px;
}

.user-msg {
  background: #2563eb;
  padding: 18px;
  border-radius: 14px;
  max-width: 70%;
  margin-left: auto;
  margin-bottom: 18px;
  font-size: 18px;
}

.ai-msg {
  background: #0f172a;
  padding: 18px;
  border-radius: 14px;
  max-width: 75%;
  margin-bottom: 18px;
  font-size: 18px;
  animation: fadeIn 0.3s ease;
}

.thinking {
  opacity: 0.7;
  font-style: italic;
}

@keyframes fadeIn {
  from {opacity:0; transform:translateY(5px);}
  to {opacity:1;}
}

footer {
  display: flex;
  padding: 15px;
  gap: 10px;
  border-top: 1px solid #1e293b;
}

textarea {
  flex: 1;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 10px;
  cursor: pointer;
}
